{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "printWidth": 80,
        "parser": "glimmer",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
