{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "**/*.hbs",
      "options": {
        "parser": "html"
      }
    }
  ]
}
